<div class="column-3-4 content-wrapper text-center buffer-both">
  <div class="buffer-both">
    <h1 class="title-medium">Наши пользователи</h1>
  </div>
  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
      </div>
    </div>
  <% end %>
</div>
<div class="column-1-4 column-1-4-right content-wrapper buffer-both">
  <div class="buffer-both">
    <h1 class="title-medium text-center">Теги</h1>
  </div>
  <% @hashtags.each do |hashtag| %>
    <div class="users-list-item">
      <%= link_to hashtag.name, hashtag_path(hashtag) %>
    </div>
  <% end %>
</div>
